<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue指令</title>
    <!--1、导入vue.js文件-->
    <script src="JS/vue.js"></script>
</head>
<style>
    [v-cloak]{
        display: none;
    }
    li{
        list-style: none;
    }
    .size{
        font-size: 100px;
    }
    .color{
        background-color: cyan;
    }
    .color1{
        background-color: red;
    }

</style>
<body>
<div id="app">
    <!-- 1、常用指令 v-once 只渲染一次 不随model改变而改变 -->
    <p v-once>原始数据：{{name}}</p>
    <p>----------------第----------------壹----------------个----------------指----------------令</p>




    <!-- 在使用{{}}展示或更新页面数据时：当网速比较慢时，会出现一个不好的过度现象，
    会让用户先看到我们的表达式（上面页面中的{{name}}），然后才看到data中的值（欢迎Vue!）即所谓的闪烁问题！
    注：配合CSS才有效果 [v-cloak]{
        display: none;
    }
    2、常用指令 v-cloak 解决（上述问题） 默认先隐藏为渲染的页面  -->
    <p v-cloak>当前数据：{{name}}</p>
    <p>----------------第----------------贰----------------个----------------指----------------令</p>




    <!--3、 常用指令 v-if 如果为true渲染元素，否则不渲染元素  -->
    <p v-if="false">我是true</p>
    <p v-if="true">我是false</p>
    <p>----------------分----------割----------------线---------------------</p>
    <!--条件为真渲染元素-->
    <p v-if="age>18">我是true</p>
    <!--条件为假不渲染元素-->
    <p v-if="age<19">我是false</p>
    <p>----------------分----------割----------------线---------------------</p>
    <p v-if="age>17">成年人</p>
    <p v-else="age<18">未成年人</p>
    <p>----------------分----------割----------------线---------------------</p>
    <p v-if="score>80">优秀</p>
    <p v-else-if="score>=60">良好</p>
    <p v-else="score">垃圾</p>
    <p>----------------第----------------叁----------------个----------------指----------------令</p>





    <!--
    4、常用指令 v-text 相当于innerText
    5、常用指令 v-html 相当于innerHTML
-->
    <!-- 插值可以解析Text,不能解析HTML代码 -->
    <p>+++++++{{name}}+++++</p>
    <p>+++{{msg}}++</p>
    <p>----------------分----------割----------------线---------------------</p>
    <!-- v-text 会覆盖原有的内容，不会解析HTML代码 -->
    <p v-text="name">++++++++++++</p>
    <p v-text="msg">+++++</p>
    <p>----------------分----------割----------------线---------------------</p>
    <!-- v-html 会覆盖原有内容，可以解析HTML代码 -->
    <p v-html="name">++++++++++++</p>
    <p v-html="msg">+++++</p>
    <p>----------------第----------------肆、伍----------------个----------------指----------------令</p>





    <!--6、常用指令 v-show 就是和v-if一样的功能 -->
    <p v-show="show">true</p>
    <p v-show="false">false</p>
    <p>----------------第----------------陆----------------个----------------指----------------令</p>





    <!-- 7、v-for指令  循环遍历-->
    <ul>
        <!--遍历list数组-->
        <li v-for="(value,index) in list">{{index}}--{{value}}</li>
        <!--遍历数字、字符串-->
        <li v-for="(value,index) in 'abcdefg1234567'">{{index}}--{{value}}</li>
        <!--遍历对象-->
        <li v-for="(value,index) in obj ">{{index}}--{{value}}</li>
    </ul>
    <p>----------------第----------------柒----------------个----------------指----------------令</p>




    <!-- 8、v-bind指令 给标签“属性”绑定数据 v-bind 简写 :-->
    <!--数据绑定在元素上 三种方式-->
    <!-- 插件绑定数据 -->
    <p>{{name}}</p>
    <!-- v-text指令绑定数据 -->
    <p v-text="name"></p>
    <!-- v-html指令绑定数据 -->
    <p v-html="name"></p>
    <input type="text" v-bind:value="name">
    <!-- v-bind 简写 -->
    <input type="text" :value="name ">
    <p>----------------分----------割----------------线---------------------</p>
    <!-- v-bind 练习 -->
    <!-- 三目运算符 yes 判断是否为真-->
    <p :class="['size','yes' ? 'color1' : '' ]">我是练习</p>
    <!-- v-bind 绑定对象数据 -->
    <p :class="obj">我是练习2</p>



</div>
</body>
<script>
    //2、创建一个Vue实例对象
    let vue = new Vue({
        //3、告诉Vue的实例对象，将来需要控制界面上的那个区域
        el:'#app',
        //4、告诉Vue的实例对象，被控制区域的数据是什么
        data:{
            obj:{
                name:"张三",
                age: 18,
                sex:"男",
                class: "露娜",
                size:true,
                color:true,
            },
            // false:false,
            // true:true,
            age:1,
            score:1000,
            name:"李南江老师",
            msg:"<span>我是span</span>",
            show:true,
            hidden:false,
            list:["张三","四","五"],
            yes:false,



        }
    });
</script>

</html>
